.footer{
    font-size: var(--size-xs);
    color: var(--clr-slate600);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
}